{%extends "meta.html" %}

{% block title %}
Edit "{{title}}"
{% endblock %}

{% block body %}
{% if is_index %}

<form id="index-editor" action="/" method="post">
    <h1>Edit the Index page</h1>

    <div class="field">
        <textarea name="content" class="textarea" rows="20">{{content}}</textarea>
    </div>

    <div class="field">
        <input type="submit" class="button" />
    </div>
</form>

{% else %}

<form id="article-editor" action="/article/{{title}}" method="post">
    <h1>Create or edit an article</h1>
    <div class="field">
        <label class="label">Article Name</label>
        <div class="control">
            <input type="text" class="input" name="title" value="{{title}}" />
        </div>
    </div>

    <div class="field">
        <textarea name="content" class="textarea" rows="20">{{content}}</textarea>
    </div>

    <div class="field">
        <input type="submit" class="button" />
    </div>
</form>

{% endif %}

{% endblock %}