<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {% block head %}
    <title>
        {% block title %}{% endblock %} | Tome
    </title>
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

        });
    </script>
</head>

<body>
    <nav class="navbar" role="navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/media/tome.png" />
            </a>

            <a class="navbar-item" href="/">
                Home
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <div class="navbar-item">
                    {% block navbar_actions %}{% endblock %}
                </div>
            </div>
        </div>
    </nav>

    <div class="columns is-centered">

        <div class="column is-four-fifths">
            <div class="content">
                <hr />

                {% block body %}{% endblock %}

                <hr />
            </div>

            <footer>
                Tome - A Rusty Wiki | <a href="/overview">All articles</a> | <a href="/media">Media</a>
            </footer>
        </div>
    </div>
</body>

</html>